.nav_Container {
      width: 96%;
      height: 0%;
      display: flex;
      justify-content: space-between;
      background-color: rgb(95, 93, 93) ;
      align-items: center;
      padding:1cm ;
      background-image: url('../../assets/videogame.png');    
      background-position: right;
      background-repeat: no-repeat;
} 
    
.nav_Logo{
      background-position: center;
      background-repeat: no-repeat;
}
        
.nav_Logo:hover {
      cursor: pointer;
      text-decoration: underline; 
}
    
.nav_Titulo {
      font-size: 1.5rem;
      color: white;
      border-color:#0f0f0f;
}
    
.nav_Fil_Container {
      height: 50%;
      width: 40%;
      display: flex;
      align-items: center;
}
    
.nav_Filter {
      height: 80%;
      width: 32%;
      background-color: white;
      border: 2px solid #0f0f0f;
      padding: 5px;
      border-radius:  10px;
      font-size: 1.0rem;
}
    
.nav_Filter:last-of-type {
      width: 28%;
}