.nav_Container {
      width: 96%;
      height: 0%;
      display: flex;
      justify-content: space-between;
      background-color: rgb(95, 93, 93) ;
      align-items: center;
      padding:1cm ;
      background-image: url('../../assets/videogame.png');    
      background-position: right;
      background-repeat: no-repeat;
      
} 
    
.nav_Logo{
      background-position: center;
      background-repeat: no-repeat;
}
        
.nav_Titulo {
      font-size: 1.5rem;
      color:white;
      border-color:#0f0f0f;
}

.nav_Titulo:hover {
      color: rgb(228, 228, 97);
      cursor: pointer;
}
    
.nav_Fil_Container {
      height: 50%;
      width: 40%;
      padding-right: 2em;
      display:flexbox;
      align-items: left;
}
    
.nav_Filter {
      width: 70%;
      /* height: 80%; */
      font-size:1.5rem;
      border-radius:7px;
      background-color:transparent;
      color: Black;
      border-color:gray;
      padding-top: 0.1cm;
      
      
 }

 .nav_Filter:hover {
      cursor: pointer;
      background-color: black ;
      color: red;
      border: 1px solid gray;
      border-color:red;
 }

 