.page_NumBar {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 5vh;
      /* background-image: url('../img/dog.png'); */
      background-position: bottom;
      position: fixed;
      bottom: 0;
      z-index: 0;
      padding: 0 3vw;
      background-color: black;
    }
    
    .page_NumBar::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: black;
      z-index: -1;
    }
    
    .Page_NumContainer {
      display: flex;
      justify-content: space-evenly;
      width: fit-content;
      align-items: center;
    }
    
    .page_Number {
      color:red;
      font-weight: 900;
      font-size: large;
      margin: 0.9em;
    }
    
    .page_Number:hover {
      cursor: pointer;
    }