.card_Container {
      width: 19%;
      display: flex;
      justify-content: center;
      position: relative;
      top:50%;
      margin: 0.5%;
      padding: 0.5%;
      background-color: black;
      border: 2px solid rgb(155, 153, 153);
      border-radius: 10px;
}
   
 
.card_Image {
      width : 340px;
      height: 230px;
      border-radius: 10px;
      position: absolute;
      
}
    
.card_TextContainer {
      text-align: center;
      margin-top: 6cm;
}
    
.card_Link {
      text-decoration: none;
}
    
.card_Link:hover {
      text-decoration:underline;
}
   
.card_Name {
      font-size: 20px;
      margin-bottom: 0;
      color :red;
}
    
.card_Genres1 {
      font-size: 15px;
      /* margin-top: 0; */
      color: red
}

.card_Genres2 {
      font-size: 15px;
      /* margin-top: 0; */
      color: white;
}
   
