.lan_Container {
      color:  rgb(212, 37, 37);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-image: url(../../assets/landing_page.jpg);
      background-size: cover;
      background-repeat: no-repeat;
}

.lan_title {
      font-size: 3.4em;
      padding-top: 15%;
      padding-bottom: 2%;
      color:rgb(212, 37, 37);
    }
    
.lan_text {
  font-size: 1.6em;
  color:rgb(212, 37, 37);
}
    
.lan_btn {
      width: 40%;
      height:8%;
      padding: 0.5%;
      border: 1.0px solid;
      border-radius:7px;
      border-color:rgb(212, 37, 37);
      background-color: transparent;
      color:rgb(155, 96, 96);
      margin-top: 1em;
      margin-bottom: 2.5em;
      font-size: 1.2em
    }
    
.lan_btn:hover {
      cursor: pointer;
      background-color: transparent;
      color: rgb(212, 37, 37);
      background-color:black;
      font-size: 1.3em;
      margin-top: 1em;
      margin-bottom: 2.5em;
    }
    
.lan_foot {
  font-size: 1.2em;
  color: rgb(212, 37, 37);
}