.home_Container {
      display: flex; 
      flex-direction: column;   
      align-items: center; 
      background-color:black; 
      padding: 0;
}
    
.home_VideoContainer {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     background-color: black; 
     margin-bottom: 5vh;
     padding: 5vh 0;
}
.home_Btn_Container {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 2vh;
     background-color:black; 
}
   
.home_Btn {
     width: 15%;
     background-color: #f3f1ed;
     border: 1px solid gray;
     border-radius: 0.70em;
     line-height: 2rem;
     font-size:1.3rem;
     padding-bottom: 0.5vh ;
     
}
   
.home_Btn:hover {
     cursor: pointer;
     background-color: black ;
     color: white;
     border: 1px solid red;
}
   
.home_Link {
     text-decoration: none;
}
   
.home_Link:hover {
     color: #f3f1ed;
}

